.no-top-marg {
	margin-top: 0;
}

.bottom-marg-10 {
	margin-bottom: 10px;
}

.bottom-marg-15 {
	margin-bottom: 15px;
}

.top-marg-10 {
	margin-top: 10px;
}

.left-marg-10 {
	margin-left: 10px;
}

.input-group-addon {
	min-width: 120px;
}

.float-right {
	float: right;
}

.centered{
	text-align: center;
}

.uploader{
	margin: 0 auto;
	position: relative;
}

.data-grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.data-grid li{
	list-style-type: none;
}

.data-item{
	margin: 20px;
}

.post-pic{
	width: 150px;
}

.thumbnail {
	height: 300px;
	width: 250px;
	margin: 10px 10px;
}

.thumbnail img{
	height: 70%;
	width: 100%;
}
