  <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="container-fluid">
          <div class="no-top-marg centered">
            <h1>Upload Images to S3</h1>
          </div>
            <!-- The Upload Form -->
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="panel panel-default uploader">
                <div class="panel-body">
                  <input class="bottom-marg-15" type="file" name="file" file></input>
                  <!-- Progress Bar -->
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
                      {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
                    </div>
                  </div>

                  <!-- Tag selection input -->
                  <div class="tag-selection">
                    <tags-input ng-model="model.tags">
                      <auto-complete source="tags"></auto-complete>
                    </tags-input>
                  </div>

                  <!-- Description -->
                  <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" rows="5" id="description" ng-model="model.description"></textarea>
                  </div>

                  <a class="btn btn-primary btn-block btn-lg" ng-click="upload()">Upload</a>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
        <div class="col-md-2"></div>
        </div>
    </div>
  </div>
